body {
    background-color: lightpink;
}

.navbar {
    background-color: #FF6B6B; 
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
    color: #343a40; 
}

#cart-sidebar-toggler {
    color: #343a40; 
}

.btn-primary {
    background-color: #FF6B6B; 
    border-color: #FF6B6B; 
}

.btn-primary {
    color: #fff; 
}

#cart-sidebar {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 300px;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

#cart-sidebar.open {
    right: 0;
}

#cart-content {
    padding: 20px;
    z-index: 1001; 
}

footer {
    color: black; 
    background-color: green;
}

.jumbotron {
    background-color: #F9EBE0; 
}
